/*First Navbar*/
.navbar:first-of-type 
{
  height: 50px;
background-color: #007b70;
border-radius: 0;

}
.User-Icon
{
  font-size: 25px;
  color: #009688;
  float: right;
  width: 36px;
  height: 36px;
  margin: -8px 10px 0px 10px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  }
  .Registration
{
  height: 20px;
}
.FirstNavLinks
{
  color: #Fff;
}
.FirstNavLinks:hover
{
  color: #Fff;
}
#NavSpan
{
  color: #fff;
}

.btn-outline-success
{
  color : #fff;
  border-color: #fff;
}
.btn-outline-success:hover {
  color: #198754;
  background-color: #fff;
  border-color: #fff;
}

@media  (min-width: 1000px) {
  .form-control{
    width: 300px;
  }
 }

/*Second Navbar*/
.navbar{
  background: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 1px 3px 4px 0 #adadad33;
}
/*border-radius*/
@media  (min-width: 1000px) {
 .navbar{
    border-radius: 0px 0px 40px 40px;
 }
}
/*border-radius*/


.navbar-light .navbar-brand {
  color: #007b70;
  font-size: 30px;
  padding-left: 18px;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color: #4a4a4ae6;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #045049;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link{
  padding-top: 22px;
  padding-bottom: 22px;
  transition: 0.3s;
  padding-left: 17px;
  padding-right: 18px;
      font-size: 16px;
      font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  background: #fff;
  transition: 0.3s;
  color: #000;
}
.dropdown-item:focus, .dropdown-item:hover {
 color: #F9B736;
 text-decoration: none;
 background-color: #fff !important;
}
.sm-menu{
 border-radius: 0px;
 border: 0px;
 top: 97%;
 box-shadow: rgba(173, 173, 173, 0.2) 1px 3px 4px 0px;
}
.dropdown-item {
 color: #3c3c3c;
     font-size: 17px;
}
.dropdown-item.active, .dropdown-item:active {
 color: #fff;
 text-decoration: none;
 background-color: #224A8F;
}
.navbar-toggler{
 outline: none !important;
}
.navbar-tog{
 color: #009688;
}
.megamenu-li {
 position: static;
}

.megamenu {
 overflow-y: scroll;
 height: 450px;
 position: absolute;
 width: 100%;
 left: 0;
 right: 0;
 padding: 15px;
}
.megamenu h6{
 margin-left: 16px;
 font-size: 18px;
 font-weight: bold;
}
.megamenu i{
 width: 20px;
}



/*Shopping Basket*/

.Shopping-cart {
font-size: 30px;
color: #009688;
float: right;
margin-top: 3px;
margin-right: 17px;
width: 50px;
height: 50px;
border-radius: 50%;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
transition: 2s;

}
#Shopping-cart
{
margin: 0 auto;
}

@media  (max-width: 1000px) {
  #Shopping-cart
  {
  margin: 0;
  position: absolute;
  right: 50px;
  top: -2px;

}
}

/*Shopping Basket*/


/* Silder*/
:root {
 --carousel-height: 300px;
}

/** Wrapper */
.carousel {
 position: relative;
 margin-bottom: 20px !important;
}

/* Resets for all buttons */
.is-control {
 z-index: 1;
 background: none;
 color: rgba(0,0,0,.7);
 border: 0;
 cursor: pointer;
 transition: all .2s linear;
}

 .is-control:focus {
   outline: none;
   background-color: rgba(0,0,0,.8);
   color: rgba(255,255,255,1);
 }

 /* Pause/play toggle for autoplay */
 .slick-autoplay-toggle-button {
   bottom: 15px;
   left: 10px;
 }

 /* Previous slide button */
 .previous-button {
   position: absolute;
   left: 0;
   top: calc(var(--carousel-height)/2 - 40px);
   
   padding: 5px 15px;
   z-index: 3;
   
   font-size: 40px;
   
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-left: 0;
 }

 /* Next slide button */
 .next-button {
   position: absolute;
   right: 0;
   top: calc(var(--carousel-height)/2 - 40px);
   
   padding: 5px 15px;
   z-index: 1;
   
   font-size: 40px;
   
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-right: 0;
 }

/**
 Single slide
*/
.slide {
 position: relative;
 height: var(--carousel-height);
}

 .slide .background-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }


/**
 Slide 2 content
*/
.slide .content {
 position: absolute;
 top: 20px;
 left: 15%;

 max-width: 400px;
 width: 50%;
 max-height: 70%;
 padding: 15px;

 white-space: normal;
 color: white;
 background-color: royalblue;
 box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
}

 .slide .content h2 {
   margin: 0;
   font-size: 1.7rem;
 }

 .slide .content p {
   margin: 10px 0 20px 0;
 }

 .slide .content .cta-link {
   display: inline-block;
   padding: 5px 10px;

   background-color: white;
   color: rgba(0,0,0,.7);
   text-decoration: none;
   font-weight: 800;
   box-shadow: 3px 3px 0 0 rgba(0,0,0,.3);
 }

   .slide .content .cta-link:focus,
   .slide .content .cta-link:hover {
     text-decoration: underline;
     color: black;
   }

   .slide .content .cta-link:focus {
     outline: 3px solid rgba(0,0,0,1);
   }

/** Slide dots */
.slick-dots {
 bottom: 15px;
}

 .slick-dots li {
   padding: 0;
   margin: 0 1px;
 }

/** Credits at bottom */
.credits {
 margin-right: 20px;
 padding: 5px;
 float: right;
 font-size: 14px;
 color: black;
 text-decoration: none;
 opacity: .7;
}

 .credits img {
   height: 30px;
   margin-left: 5px;
   margin-top: -2px;
   vertical-align: middle;
 }

 .credits:hover,
 .credits:focus {
   opacity: 1;
 }
/* End Of Silder*/
.dropdown-menu .navbar-form {
  min-width: 250px;
}
