@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 400;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fi {
  vertical-align: middle;
  line-height: 1;
}

button {
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.alert {
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 2%;
  margin: 15px;
  background: #f5f5f5;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  border: #ddd 1px solid;
  text-transform: capitalize;
}

.alert.alert-danger {
  border-color: #e70b1e;
  color: #e70b1e;
  background: #ffe4e4;
}

.alert.alert-success {
  border-color: #4CAF50;
  color: #108415;
  background: #dcffdd;
}

.recipes-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ft-recipe {
  width: 370px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 19px 0 rgba(0, 0, 0, 0.07);
  overflow: hidden;
  margin-bottom: 55px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.ft-recipe .ft-recipe__thumb {
  position: relative;
  height: 200px;
}

.ft-recipe .ft-recipe__thumb h3 {
  text-align: center;
  position: absolute;
  margin: 0;
  width: 100%;
  color: #fff;
  font-size: 25px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
  padding: 2.4rem 0 0;
}

.ft-recipe .ft-recipe__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.ft-recipe .ft-recipe__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1em 1em;
}

.ft-recipe .ft-recipe__content .content__header .row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.55em 0 0.3em;
  border-bottom: 1px solid #ddd;
}

.ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
  font-weight: 600;
  position: relative;
  z-index: 5;
  font-size: 20px;
  margin: 5px 0px;
  color: #009688;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 1.4em 0 1em;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #888;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item i {
  font-size: 30px;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .value {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item img {
  height: 20px;
  opacity: 0.5;
  display: block;
  margin: auto;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .title {
  display: block;
  margin-top: -4px;
  font-size: 14px;
  font-weight: 300;
}

.ft-recipe .ft-recipe__content .description {
  margin: 0.3em 0 0.8em;
  color: #888;
  font-size: 14px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.ft-recipe .ft-recipe__content .content__footer {
  text-align: center;
  margin: 0 3rem;
}

.ft-recipe .ft-recipe__content .content__footer a {
  display: inline-block;
  padding: 0.45em 1em;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #f7b036;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 17px;
  -webkit-transition: -webkit-transform 250ms ease, -webkit-box-shadow 250ms ease;
  transition: -webkit-transform 250ms ease, -webkit-box-shadow 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease, -webkit-box-shadow 250ms ease;
}

.ft-recipe:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.ft-recipe:hover .recipe-details-item,
.ft-recipe:hover .description {
  color: #222 !important;
}
/*# sourceMappingURL=recipes.css.map */