@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body,
html {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins';
  font-weight: 400;
  outline: none !important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.fi {
  vertical-align: middle;
  line-height: 1;
}

button {
  cursor: pointer;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.alert {
  width: 100%;
  text-align: center;
  display: block;
  padding: 15px 2%;
  margin: 15px;
  background: #f5f5f5;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  border: #ddd 1px solid;
  text-transform: capitalize;
}

.alert.alert-danger {
  border-color: #e70b1e;
  color: #e70b1e;
  background: #ffe4e4;
}

.alert.alert-success {
  border-color: #4CAF50;
  color: #108415;
  background: #dcffdd;
}

.wrunner__division_theme_default.wrunner__division_direction_horizontal {
  height: 0.5rem;
  width: 0.1rem;
}

.wrunner__division_theme_default.wrunner__division_direction_vertical {
  height: 0.1rem;
  width: 0.5rem;
}

.wrunner__division_theme_default.wrunner__division {
  background-color: #cb73a4;
}

.wrunner__divisions_theme_default.wrunner__divisions_direction_horizontal {
  top: 3.5rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrunner__divisions_theme_default.wrunner__divisions_direction_vertical {
  height: 100%;
  width: 0.5rem;
  left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrunner__divisions_theme_default.wrunner__divisions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrunner__handle_theme_default.wrunner__handle_direction_horizontal {
  margin-top: -0.35rem;
  margin-left: -0.6rem;
}

.wrunner__handle_theme_default.wrunner__handle_direction_vertical {
  margin-top: -0.6rem;
  margin-left: -0.4rem;
}

.wrunner__handle_theme_default.wrunner__handle {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 40%;
  background-color: #009688;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color, border-radius, -webkit-transform;
  transition-property: background-color, border-radius, -webkit-transform;
  transition-property: transform, background-color, border-radius;
  transition-property: transform, background-color, border-radius, -webkit-transform;
  cursor: pointer;
  z-index: 1;
}

.wrunner__handle_theme_default.wrunner__handle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 50%;
  background-color: #f7b036;
}

.wrunner__handle_theme_default.wrunner__handle:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  border-radius: 50%;
  background-color: #f7b036;
}

.wrunner__outer_theme_default.wrunner__outer_direction_horizontal {
  height: 4rem;
  width: 100%;
}

.wrunner__outer_theme_default.wrunner__outer_direction_vertical {
  height: 100%;
  width: 5.5rem;
  min-height: 10rem;
}

.wrunner__outer_theme_default.wrunner__outer {
  position: relative;
  padding-top: 0.1px;
}

.wrunner__path_theme_default.wrunner__path_direction_horizontal {
  height: 0.5rem;
  width: 100%;
  top: 2.3rem;
}

.wrunner__path_theme_default.wrunner__path_direction_vertical {
  height: 100%;
  width: 0.5rem;
  left: 1.2rem;
}

.wrunner__path_theme_default.wrunner__path {
  position: absolute;
  background-color: rgba(205, 205, 205, 0.75);
  border-radius: 0.25rem;
  cursor: pointer;
}

.wrunner__pathPassed_theme_default.wrunner__pathPassed_direction_horizontal {
  height: 100%;
}

.wrunner__pathPassed_theme_default.wrunner__pathPassed_direction_vertical {
  width: 100%;
  bottom: 0;
}

.wrunner__pathPassed_theme_default.wrunner__pathPassed {
  position: absolute;
  background-color: #009688;
  border-radius: 0.25rem;
}

.wrunner__valueNote_theme_default.wrunner__valueNote_direction_horizontal {
  top: 0;
  min-width: 1.5rem;
  border-radius: 0.8rem 0.3rem 0.8rem 0.3rem;
}

.wrunner__valueNote_theme_default.wrunner__valueNote_direction_horizontal::after {
  left: 50%;
  margin-left: -0.25rem;
  bottom: -0.5rem;
  border: 0.25rem solid transparent;
  border-top-color: #f7b036;
}

.wrunner__valueNote_theme_default.wrunner__valueNote_direction_vertical {
  left: 2.5rem;
  min-width: 1.5rem;
  border-radius: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.wrunner__valueNote_theme_default.wrunner__valueNote_direction_vertical::after {
  top: 50%;
  margin-top: -0.25rem;
  left: -0.5rem;
  border: 0.25rem solid transparent;
  border-right-color: #f7b036;
}

.wrunner__valueNote_theme_default.wrunner__valueNote_display_hidden {
  display: none;
}

.wrunner__valueNote_theme_default.wrunner__valueNote_display_visible {
  display: block;
}

.wrunner__valueNote_theme_default.wrunner__valueNote {
  position: absolute;
  padding: 0.35rem;
  background-color: #f7b036;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  font-family: lato;
  font-weight: 900;
  cursor: default;
}

.wrunner__valueNote_theme_default.wrunner__valueNote::after {
  content: '';
  position: absolute;
  display: block;
  height: 0;
  width: 0;
}

.wrunner_theme_default.wrunner_direction_horizontal {
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrunner_theme_default.wrunner_direction_vertical {
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=wrunner-default-theme.css.map */